@import "../../../common/styles/theme.css";
@source "./lib";
@source "../../../common";

html, body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: auto !important;
  min-height: 100% !important;
  scrollbar-gutter: stable;
}

